{% extends "base.html" %}
{% block content %}
<div>
    {% include "partials/only_beaten_toggle.html" %} 
    {% with intent="sell" %}{% include "partials/sync_status.html" %}{% endwith %}
</div>
<table class="striped">
    <thead>
        <tr>
            <th>Item</th>
            {% include "partials/sortable_price_header.html" %}
            <th>Lowest competitor</th>
            <th>Highest Buyer</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for so in beaten_sellorders %}
            {% include "partials/sellorder_row.html" %}
        {% endfor %}
    </tbody>
{% endblock %}
