{% extends "base.html" %}
{% block content %}
<div>
    <label role="group">
        <input type="checkbox" 
            hx-get="/?only_beaten=True"
            hx-target="#main"
            hx-swap="outerHTML"
            hx-trigger="change"
            hx-vals='js:{"only_beaten": event.target.checked}'
            {% if only_beaten %} checked {% endif %}/>
        Only Beaten
    </label>
    {% include "partials/sync_status.html" %}
</div>
<table class="striped">
    <thead>
        <tr>
            <th>Item</th>
            <th>My Price</th>
            <th>Top competitor</th>
            <th>Lowest Seller</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for bo in beaten_buyorders %}
            {% include "partials/buyorder_row.html" %}
        {% endfor %}
    </tbody>
{% endblock %}
