<tr id=row-{{bo.listing.id}}>
  <td><a href="{{bo.listing.item_url}}" target="_blank">{{ bo.item_name }}</a></td>
  <td>{{ bo.user_keys }} keys {% if bo.user_metal %} {{ bo.user_metal }} ref{% endif %}</td>
  <td>{{ bo.top_competitor_keys }} keys {% if bo.top_competitor_metal %}{{ bo.top_competitor_metal }} ref{% endif %}
  </td>
  <td>N/A</td>
  <!-- <td>{{ "Outbid" if bo.is_outbid else "Top" }}</td> -->

  <td class="{{ 'outbid' if bo.is_outbid else 'winning' }}">
    {% set key_diff = (bo.top_competitor_keys - bo.user_keys) | abs %}
    {% set metal_diff = (bo.top_competitor_metal - bo.user_metal) | abs %}
    {% if key_diff == 0 and metal_diff == 0 %}
    Equal
    {% else %}
    {{"Outbid by" if bo.is_outbid else "Highest by"}}
    {% if key_diff != 0 %}{{key_diff}} Keys{% endif %}
    {% if metal_diff != 0 %}{{metal_diff | round(2)}}ref {% endif %}
    {% endif %}
  </td>
  <td>
    <button class="contrast" hx-patch="/listings/{{bo.listing.id}}/round-price?rounding_strategy=up_1-key"
      hx-target="#row-{{bo.listing.id}}" hx-swap="outerHTML">
      Beat by 1 key
    </button>
    <button class="secondary" hx-patch="/listings/{{bo.listing.id}}/round-price?rounding_strategy=nearest_5-key"
      hx-target="#row-{{bo.listing.id}}" hx-swap="outerHTML">
      Round up 5 key</button>
    <button class="outline" hx-patch="/listings/{{bo.listing.id}}/round-price?rounding_strategy=nearest_10-key"
      hx-target="#row-{{bo.listing.id}}" hx-swap="outerHTML">
      Round up 10 key</button>
  </td>
</tr>
