{% set is_active = listing_type == sort_by %}
{% set next_sort = 'asc' if is_active and sort == 'desc' else 'desc' %}
{% set url = request.url.path ~ '?sort=' ~ next_sort ~ '&sort_by=' ~ listing_type ~ ('&only_beaten=True' if only_beaten else '') %}
<th class="sortable">
  <a href="{{ url }}" hx-get="{{ url }}" hx-target="#main" hx-swap="outerHTML" hx-select="#main" hx-push-url="true">
      {% if listing_type == 'owner' %} My Price
      {% elif listing_type == 'competitor'  and intent == 'buy' %} Top Competitor
      {% elif listing_type == 'competitor'  and intent == 'sell' %} Lowest Competitor
      {% elif listing_type == 'lowest_seller' %} Lowest Seller
      {% elif listing_type == 'highest_buyer' %} Highest Buyer
      {% elif listing_type == 'status' %} Status
      {% endif %}
      {% if is_active and sort == 'asc' %}&#9650;{% elif is_active and sort == 'desc' %}&#9660;{% endif %}
  </a>
</th>
